# my test scratch dir
.build/

# flex build artifacts (autotools)
*.o
*.lo
*.la
*.a
*.exe
.deps/
.libs/
config.status
config.log
config.cache
config.h
autom4te.cache/
libtool
.dirstamp
stamp-h1
stamp-po
stamp-vti
_install/
# autotools-generated Makefiles (the top-level Makefile is committed)
flex-2.6.4/**/Makefile
stage1scan.c
stage1flex
